* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

}
body{
    font-size: 1.6rem;
    background-color: var(--grey);
    display: grid;
    grid-template-rows:auto 1fr auto;
}

:root{
    --offRed:#5A0000;
    --orange:#e76a2f;
    --softOrange:#C14B0F;
    --offOrange:#9D2B00;
    --blue:#061525;
    --softBlue:#0C2C3C;
    --justWhite:#FFF;
    --warmGrey:#A2ACBD;
    --grey:#6E7888;
    --black:#201E1C;
    --warmBrown:#51373F;
    --brown:#240D14;
    --menuColor:radial-gradient(circle, #e76a2f, #c13d57, #7d3164, #352950, #061525);
}
title{
    display: none;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}

img{
    height: 100%;
}
/* REDES SOCIALES */
.contact{
    background-color: var(--grey);
    width: 200px;
    height: 48px;
    position: fixed;
    bottom: 0;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid var(--black);
    color: var(--justWhite);
}
svg{
    fill: var(--justWhite);
    cursor: pointer;
}
.contact figure{
    width: 30px;
    height: 30px;
}
.initial{
    transition: .4s;
    transform: rotate(0);
}
.rotate{
    transition: .4s;
    transform: rotate(180deg);
}

.social-media{
    position: fixed;
    bottom: -46px;
    background-color: var(--softBlue);
    display: flex;
    z-index: 9;
    width:200px;
    justify-content: space-around;
    padding: 10px;
    left: 20px;
}
.social-media div{
    width: 28px;
    height: 28px;
}


.animation-up-contact{
    transition: .4s;
    transform: translateY(-43px);
}
.animation-down-contact{
    transition: .4s;
    transform: translateY(0);
}



/* PARTE DERECHA DONDE ESTA LA IMAGEN Y EL ESLOGAN DE LA EMPRESA */
header{
    background-color: var(--warmGrey);
    color: var(--justWhite);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0 40px;
    box-shadow: 0px 10px 19px -7px rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    z-index: 10;
}
.animation-hide{
    transition: .4s;
    transform: translateY(-150px);

}
.animation-visible{
    transition: .4s;
    transform: translateY(0px);
}

.header__img-container{
    display: flex;
    align-items: center;
    flex:0 1 465px;
}
.header__img-container figure{
    height: 100px;
}
.header__img-container h2{
    font-size: 1.8rem;
}



/* BARRA DE NAVEGACION */
header nav{
    flex:0 1 460px;
    margin-bottom: 30px;

}
header nav ul{
    height: 100%;
    position: relative;
    top: calc(50% + 6px);
    display: flex;
    justify-content: space-between;
}




/* MAIN */
main{
    width: 100%;
}
/* SECCION DE LA PRESENTACION DE LA EMPRESA CON IMAGEN */
.shy{
    text-align: center;
    color: var(--justWhite);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
    padding-top:220px;
    padding-bottom: 120px;
    background-position: center;
    padding-left: 20px;
    padding-right: 20px;
}
.shy title{
    display: none;
}
.f1{
    background-image: url("../assets/img/soldar2-large.jpg");
}

.f2{
    background-image: url("../assets/img/soldar-large.jpg"); 
}

.f3{
    background-image: url("../assets/img/soldar3-large.jpg");
}

.shy h1{
    font-size: 4.2rem;
    font-style: italic;
    text-shadow: -.5px -.5px .5px #000, .5px .5px .5px #000, -.5px .5px .5px #000, .5px -.5px .5px #000;
}
.shy p{
    text-shadow: -.5px -.5px .5px #000, .5px .5px .5px #000, -.5px .5px .5px #000, .5px -.5px .5px #000;
    font-size: 1.8rem;
}
.shy p:first-of-type{
    font-weight: bold;
}



/* SECCIÓN DE MAQUINADOS  */
.maquinados{
    width: 100%;
    
}
.main__bg-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--black);
    padding-bottom: 20px;
}

.main__bg-container h1{
    font-size: 3.2rem;
    color: var(--justWhite);
    padding: 5px;
    border-radius: 4px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.container__cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container__cards .cards{
    flex:0 1 240px;
    height: 260px;
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 20px;
}
.cards h2{
    font-size: 1.8rem;
    position: absolute;
    top:-20px;
    background-color: var(--blue);
    color: var(--justWhite);
    padding: 5px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cards figure{
    width: 70%;
}
.cards img{
    width: 100%;
    height: auto;
}

/* SECCION DE FABRICACIÓN DE EQUIPOS... */
.fabricacion{
    background-color: #ffffe3;
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE7D4;

}
.fabricacion__cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.fabricacion h1{
    color: #000;
    font-size: 3.2rem;
    border-radius: 4px;
    margin-bottom: 20px;
}

.fabricacion__cards{
    flex:0 1 240px;
    height: 300px;
    background-color: #F6B79B;
    margin: 20px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.fabricacion__cards img{
    width: 100%;
    height: 100%;
}

/* SECCION DONDE ESTAN LOS PROGRAMAS QUE SE USAN EN SHY */
.disennio h1{
    position: absolute;
    font-size: 3.2rem;
    z-index: 4;
    color: var(--justWhite);
    border-radius: 4px;
    top: 20px;
    text-shadow: -.5px -.5px .5px #000, .5px .5px .5px #000, -.5px .5px .5px #000, .5px -.5px .5px #000;

}
.disennio{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("../assets/img/design-img-section.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.disennio__card{
    flex:0 0 500px;
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto;
    grid-template-rows:auto;
    width: 50%;
    align-items: center;
    background-color: rgba(162,172,189, 0.75) ;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height:auto;
    margin: 5px;
    justify-items: center;
}
.disennio__card a{
    font-weight: bold;
    color: var(--softOrange);
    justify-self: start;
}
/* modificando la imagen */
.disennio__card figure{
    width: 70%;
}

.disennio__card img{
    width: 100%;
}



/* MEDIAS */
@media (max-width:1030px){
    header{
        justify-content: center;
    }
    .header__img-container{
        margin: 0;
    }
}

@media(max-width:1100px){
    .fabricacion h1{
        font-size: 2.2rem;
    }
    .disennio h1{
        font-size: 2.2rem;  
    }
}

@media(max-width:520px){
    .disennio__card{
    flex:0 0 280px;
    grid-template-columns: auto;
    grid-template-rows:auto;
    }
    .disennio__card figure{
        display: none;
    }
    .description-container{
        margin-bottom: 5px;
    }
}