:root{
    --offRed:#5A0000;
    --orange:#e76a2f;
    --softOrange:#C14B0F;
    --offOrange:#9D2B00;
    --blue:#061525;
    --softBlue:#0C2C3C;
    --justWhite:#FFF;
    --warmGrey:#A2ACBD;
    --grey:#6E7888;
    --black:#201E1C;
    --warmBlack:rgb(37, 37, 37);
    --warmBrown:#51373F;
    --brown:#240D14;
    --menuColor:radial-gradient(circle, #e76a2f, #c13d57, #7d3164, #352950, #061525);
}

h1{
    font-size:3rem ;
    color: var(--justWhite);
}


/* SECCION DONDE SE MUESTRAN LAS MAQUINAS CON LAS QUE CUENTA SHY */
.section-maquinado{
    padding-top:170px ;
    background-size: cover;
    color: white;
    background-color: var(--blue);
    background-image: url("../assets/img/maquinado-large.jpg");
    background-attachment: fixed;
    background-position: center;
}
.section-maquinado h1{
    text-shadow: -.5px -.5px .5px #000, .5px .5px .5px #000, -.5px .5px .5px #000, .5px -.5px .5px #000;

}
.articles-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-attachment: fixed;

}
.machine{
    flex:0 0 620px;
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: 200px auto;
    background-color: var(--softBlue);
    /* background-color: rgba(12,44,60, .85); */
    color: var(--justWhite);
    padding: 10px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 20px;
}
.machine span{
    position: relative;
    background-image: url("../assets/icon/llave-engranaje.png");
    background-size: contain;
    width: 25px;
    height: 25px;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self:center ;
    margin-left: 5px;
}
.machine h2{
    grid-row: 1/2;
    grid-column: 1/3;
    margin-left:30px ;
    align-self:center;
    padding: 5px;
}

.machine figure{
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 5px;
    
}
.machine .description{
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 5px;
}

/* Ajustando la imagen */
.machine img{
    width: 100%;
    height: auto;
}


/* SECCION SOLDADURA */
.section-soldadura{
    background-color: #474554;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--justWhite);
}
.soldadura__article{
    position: relative;
    width: 900px;
    padding: 10px;
    background-color: rgba(172,167,203, .10);
    height: auto;
    margin-bottom: 40px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.soldadura__article span{
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../assets/icon/casco_soldar.png");
    background-size: cover;
}
.soldadura__article h2{
    margin-left: 30px;
}


.article__description-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 150px;
    width: 100%;
    overflow-y: hidden;
    justify-content: space-between;
    align-items: center;
}
.article__description-container p{
    flex: 0 0 400px;
    margin: .5rem;
}

.article__button{
    display: inline-block;
    position: absolute;
    bottom: -24;
    width: 100%;
    height: 24px;
    left: 0;
    background-color: #5C586B;
    border-bottom-left-radius:4px ;
    border-bottom-right-radius:4px ;
}
/* .soldadura__article svg{
    position: absolute;
    bottom: -24;
    left: calc(50% - 12px);
    cursor: pointer;
} */

.article__button a {
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: absolute;
    border: none    ;
    bottom: -24;
    left: calc(50% - 12px);
    cursor: pointer;
    
}
/* animacion para los article y el svg de flecha*/

.soldadura__article-down{
    transition: .5s;
    height: auto;
}
.btn-animation-on{
    /* transition: .5s; */
    transform: rotate(180deg);
}
.btn-animation-off{
    /* transition: .5s; */
    transform: rotate(0);
}
.soldadura__article-up{
    transition: .5s;
    height: 150px;
}


/* SECCION DE CLIENTES SATISFECHOS */
.section-clientes{
    padding: 20px;
    background-image: url("../assets/img/clientes-satisfechos.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
}
.section-clientes h1{
    text-align: center;
    text-shadow: -.5px -.5px .5px #000, .5px .5px .5px #000, -.5px .5px .5px #000, .5px -.5px .5px #000;

}
.clientes__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.clientes__container a{
    color: var(--justWhite);
    flex:0 0 470px;
    margin: .5rem;
    background-color: rgba(37,37,37,.75) ;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px;
    
}








/* MEDIA PARA LA SECCION DONDE SE MUESTRA CON QUE MAQUINAS CUENTA SHY */
@media(max-width:650px){
    h2{
        font-size: 1.8rem;
    }
    .machine{
    flex:0 0 280px;
    grid-template-columns: auto;
    grid-template-rows:30px auto auto;
    }
    .machine h2{
        grid-row:1/2;
        grid-column: 1/3;
    }
    .machine .description{
        grid-row:2/3;
        grid-column: 1/3;
    }
    .machine figure{
        grid-row:3/4;
        grid-column: 1/3;
        width: 100%;
    }
}

/* Medias de la seccion soldadura */
@media(max-width:950px){
    .soldadura__article{
        position: relative;
        width: 600px;
    }
    .article__description-container p{
        flex: 0 0 240px;
    }
    
}

@media(max-width:660px){
    .soldadura__article{
        position: relative;
        width: 280px;
    }
    .article__description-container p{
        flex: 0 0 250px;
    }
}

/* Medias para la seccion de clientes satisfechos */
@media(max-width:504px){
    .clientes__container a{
        flex: 0 0 280px;
    }
    .section-maquinado{
        background-size: contain;
    }
    body .section-clientes{
        background-image: none;
        background-color: var(--black);
    }
}

/* Media para fondos en celular */
@media(max-width:520px){
    .section-maquinado{
        background-image: url("../assets/img/maquinado-mobile.jpg");
    }
    .section-clientes{
        background-image: url("../assets/img/clientes-mobile.jpg");
    }
}