/* Seccion donde normalizo estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

}
body{
    font-size: 1.6rem;
    background-color: var(--grey);
    display: grid;
    grid-template-rows:auto 1fr auto;
}

:root{
    --offRed:#5A0000;
    --orange:#e76a2f;
    --softOrange:#C14B0F;
    --offOrange:#9D2B00;
    --blue:#061525;
    --softBlue:#0C2C3C;
    --justWhite:#FFF;
    --warmGrey:#A2ACBD;
    --grey:#6E7888;
    --black:#201E1C;
    --warmBlack:rgb(37, 37, 37);
    --warmBrown:#51373F;
    --brown:#240D14;
    --menuColor:radial-gradient(circle, #e76a2f, #c13d57, #7d3164, #352950, #061525);
}
title{
    display: none;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
img{
    height: 100%;
}

/* estlilos para el loader */
.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  z-index: 20;
  background-color: var(--black);
}
.gear{width: 100px; height: 100px; border-radius:10%; margin:80px auto; border:5px solid  #fff ; position:relative;box-shadow:  0 10px 0 0 rgba(0, 0, 0, .1);
}

.gear:after{content:"";width: 100px; height: 100px;border-radius:100%; display:block; border:5px dashed  #fff ;position:absolute; top:-24px; left: -24px; box-shadow: inset 0px 0 0 20px #fff; transform:scale(.5) rotate(0deg);
 animation:gear 6s linear infinite;}

.gear:before{content:"";width: 58px; height: 58px;border-radius:100%; 
 display:block; border:5px dashed  #fff ; position:absolute; top:26px; right: -14px; box-shadow: inset 0px 0 0 10px #fff; transform:scale(.5) rotate(0deg);
 animation:gear2 4s linear infinite;}

@keyframes gear {
   0%{transform:scale(.5) rotate(0deg);}
  100%{transform:scale(.5) rotate(360deg);}
}

@keyframes gear2 {
   0%{transform:scale(.5) rotate(0deg);}
  100%{transform:scale(.5)  rotate(-360deg);}
}



/* PARTE DERECHA DONDE ESTA LA IMAGEN Y EL ESLOGAN DE LA EMPRESA */
header{
    background-color: #3D4856;
    color: var(--justWhite);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0 40px;
    box-shadow: 0px 10px 19px -7px rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    z-index: 10;
}
.animation-hide{
    transition: .4s;
    transform: translateY(-150px);

}
.animation-visible{
    transition: .4s;
    transform: translateY(0px);
}

.header__img-container{
    display: flex;
    align-items: center;
    flex:0 1 465px;
}
.header__img-container figure{
    height: 100px;
}
.header__img-container h2{
    font-size: 1.8rem;
}

/* BARRA DE NAVEGACION */
header nav{
    flex:0 1 460px;
    margin-bottom: 30px;

}
header nav ul{
    height: 100%;
    position: relative;
    top: calc(50% + 6px);
    display: flex;
    justify-content: space-between;
}

/* PIE DE PAGINA */
footer{
    color: var(--justWhite);
    display: flex;
    flex-wrap: wrap;
    background-color:#3D4856 ;
    justify-content: center;
    padding-bottom: 20px;
    position: relative;
}
footer a{
    margin: 20px;

}
footer figure{
    width: 50px;
    flex: 0 0 50px;
}
.copyright{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
}
.copyright p{
    margin-left: 5px;
}
.copyright svg{
    fill: var(--justWhite);
}

/* Media para el header */
@media (max-width:1050px){
    header{
        justify-content: center;
    }
    .header__img-container{
        display: flex;
        align-items: center;
        flex:0 1 500px;
        margin: 0;
    }

}
